/* Azul Plantilla Table Template Styles */
/* Custom styles for fava template system */

/* Column Visibility Matrix Labels - Fixed width for alignment */
.harpoon_label_div {
  width: 190px !important;
}

/* harpoon_colvismat_preview_marked_dot_color */
.harpoon_preview_dot {
  background-color: #a776e8 !important;
  border-color: #9966d9 !important;
}

/* harpoon_colvismat_preview_segment_highlight_color */
.harpoon_preview_segment {
  background-color: #dbcbf1 !important;
}

/* Add your custom table styles here */